@font-face {
    font-family: 'SequentialistBB';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    }
@font-face {
    font-family: 'SequentialistBB';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2') format('woff2'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
    font-style: italic;
    font-weight: 400;
    }
* { 
box-sizing: border-box;
}
body { 
font-family: SequentialistBB, cursive; 
font-size: 2.5vw; 
margin: 0;
}
section { 
min-height: vh; 
display: flex;
justify-content: center;
align-content: center;
}
section { 
    border: 7px solid black;
padding: 3rem; 
}
section:nth-of-type(1) {
background: #d52b21;
}
section:nth-of-type(2) {
background: #fff;
}
section:nth-of-type(3) {
background: #0388fe;
}
section:nth-of-type(4) {
    background: #e6ff56;
}
blockquote.bubble { 
background-position: center;
background-repeat: no-repeat !important;
background-size: 100% 100%;
text-align: center;
box-sizing: content-box;
line-height: 1;
}
blockquote.speech {
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg); 
width: 100%;
padding-top: 6%;
padding-bottom: 20%;
}
blockquote.whisper {
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/whisper.svg); 
width: 75%;
font-size: 2vw;
color: #555;
font-style: italic;
padding: 6% 5% 15%;
}
blockquote.electric {
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/electric.svg); 
width: 75%;
font-size: 2.4vw;
font-style: italic;
padding: 4% 6% 12% 0%;
}
blockquote.electric span {
display: block;
font-size: 3vw;
font-weight: bold;
}

.container{
    width: 80%;
    margin: auto;
}

blockquote{
    border: none;
    padding-left: 0;
    height: auto;
}

.char_cont{
    width: 80%;
    height: 100%;
    margin: auto;
    
}

.birdy{
    width: 100%;
    
}

body{
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #bd2d10 0, #f4502f 30%, #ff6e51 50%, #f4502f 70%, #bd2d10 100%);
    background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}